@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamProLight/GothamProLight.eot');
	src: url('../fonts/GothamProLight/GothamProLight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamProLight/GothamProLight.woff') format('woff'),
		 url('../fonts/GothamProLight/GothamProLight.ttf') format('truetype'),
		 url('../fonts/GothamProLight/GothamProLight.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamProLightItalic/GothamProLightItalic.eot');
	src: url('../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamProLightItalic/GothamProLightItalic.woff') format('woff'),
		 url('../fonts/GothamProLightItalic/GothamProLightItalic.ttf') format('truetype'),
		 url('../fonts/GothamProLightItalic/GothamProLightItalic.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamProRegular/GothamProRegular.eot');
	src: url('../fonts/GothamProRegular/GothamProRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamProRegular/GothamProRegular.woff') format('woff'),
		 url('../fonts/GothamProRegular/GothamProRegular.ttf') format('truetype'),
		 url('../fonts/GothamProRegular/GothamProRegular.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamProRegularItalic/GothamProRegularItalic.eot');
	src: url('../fonts/GothamProRegularItalic/GothamProRegularItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamProRegularItalic/GothamProRegularItalic.woff') format('woff'),
		 url('../fonts/GothamProRegularItalic/GothamProRegularItalic.ttf') format('truetype'),
		 url('../fonts/GothamProRegularItalic/GothamProRegularItalic.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamProMedium/GothamProMedium.eot');
	src: url('../fonts/GothamProMedium/GothamProMedium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamProMedium/GothamProMedium.woff') format('woff'),
		 url('../fonts/GothamProMedium/GothamProMedium.ttf') format('truetype'),
		 url('../fonts/GothamProMedium/GothamProMedium.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamProMediumItalic/GothamProMediumItalic.eot');
	src: url('../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamProMediumItalic/GothamProMediumItalic.woff') format('woff'),
		 url('../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf') format('truetype'),
		 url('../fonts/GothamProMediumItalic/GothamProMediumItalic.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 500;
}

@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamProBold/GothamProBold.eot');
	src: url('../fonts/GothamProBold/GothamProBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamProBold/GothamProBold.woff') format('woff'),
		 url('../fonts/GothamProBold/GothamProBold.ttf') format('truetype'),
		 url('../fonts/GothamProBold/GothamProBold.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamProBoldItalic/GothamProBoldItalic.eot');
	src: url('../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamProBoldItalic/GothamProBoldItalic.woff') format('woff'),
		 url('../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf') format('truetype'),
		 url('../fonts/GothamProBoldItalic/GothamProBoldItalic.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamProBlack/GothamProBlack.eot');
	src: url('../fonts/GothamProBlack/GothamProBlack.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamProBlack/GothamProBlack.woff') format('woff'),
		 url('../fonts/GothamProBlack/GothamProBlack.ttf') format('truetype'),
		 url('../fonts/GothamProBlack/GothamProBlack.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamProBlackItalic/GothamProBlackItalic.eot');
	src: url('../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamProBlackItalic/GothamProBlackItalic.woff') format('woff'),
		 url('../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf') format('truetype'),
		 url('../fonts/GothamProBlackItalic/GothamProBlackItalic.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 800;
}